{% extends 'base.html' %}
{% block title %} Home {% endblock %}
{% block content %}
{% load static %}

  <link href="{% static '/css/home.css' %}" rel="stylesheet">

  <header class="masthead text-white text-center">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <h1 class="mb-5">SECURE RISK CONSULTING <br></h1>
          <h2>We Focus on Security & Safety <br> You Focus on Your Event</h2>
        </div>
        <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
          <a href="#"><button type="submit" class="btn btn-block btn-primary">Become a Member</button></a>
        </div>
      </div>
    </div>
  </header>

  <section class="features-icons bg-dark text-center text-white">
    <div class="container">
      <h2>Our Services<br></h2>
      <div class="row">
        <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
              <i class=" fas fa-clipboard m-auto text-primary"></i>
            </div>
            <h3>Assess</h3>
          </div>
        </div>

        <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
              <i class="fas fa-archive m-auto text-primary"></i>
            </div>
            <h3>Supply</h3>
          </div>
        </div>

        <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
              <i class="fas fa-lock m-auto text-primary"></i>
            </div>
            <h3>Secure</h3>
          </div>
        </div>

      </div>
    </div>
    <div class="container">
      <p>Secure Risk Consulting exists to solve the critical issues facing our clients, both large and small. Our unique approach is not only what differentiates us, but also what makes us successful. We provide a broad range of services and solutions to help the event facilitate change, achieve their vision, optimize performance on the security & safety, productivity.</p>
    </div>
  </section>

  <section class="showcase bg-secondary text-white">
    <div class="container-fluid p-0">

      <div class="row no-gutters">
        <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('/static/img/risk.jpg');">
        </div>
        <div class="col-lg-6 order-lg-1 my-auto showcase-text">
          <h2>SECURITY RISK ASSESMENT & PLANNING</h2>
          <p class="lead mb-0">Risk is a compilation of threats and vulnerabilities as it relates to specific assets on the event that you held. We will do risk assessment methodology uses information collected in the field and through our data partners to identify threats, vulnerabilities and security concerns, so that appropriate and cost-effective mitigation efforts can be designed and deployed. Includes security planning, standard operational procedure, and stakeholders mapping for the client to execute & perform the best condition for the event. .</p>
        </div>
      </div>

      <div class="row no-gutters">
        <div class="col-lg-6 text-white showcase-img" style="background-image: url('/static/img/drills.jpg');"></div>
        <div class="col-lg-6 my-auto showcase-text">
          <h2>DRILLS AND EXERCISE</h2>
          <p class="lead mb-0">Security awareness is the main core of running the event. The mechanism necessary applied to all workload. Before the event held, we can give brief drills and exercise that related based on the event and the needs. All of those things will adjusted to the condition and client culture.</p>
        </div>
      </div>

      <div class="row no-gutters">
        <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('/static/img/riot.jpg');"></div>
        <div class="col-lg-6 order-lg-1 my-auto showcase-text">
          <h2>POLICE LETTER AND SERVICES (POLICE & TNI)</h2>
          <p class="lead mb-0">We can help you with the police letter as the national standard requirement for the event. If you lack security resources, police & TNI services are additional.</p>
        </div>
      </div>

	    <div class="row no-gutters">
        <div class="col-lg-6 text-white showcase-img" style="background-image: url('/static/img/equip.jpg');"></div>
        <div class="col-lg-6 my-auto showcase-text">
          <h2>EVENT SECURITY & SAFETY EQUIPMENT</h2>
          <p class="lead mb-0">Equipment is one of the most essential parts in the midst of human resource and regulation. Every single event has their own needs on it. We can provide the important things in security like handy talky (HT), barriers, portable metal detector, and many more by client request.</p>
        </div>
      </div>
    </div>
  </section>

  <section class="testimonials text-center text-white bg-dark">
    <div class="container">
      <h2 class="mb-5">Our Founders</h2>
      <div class="row">

        <div class="col-lg-3">
          <div class="testimonial-item mx-auto mb-5 mb-lg-0">
            <img class="img-fluid rounded-circle mb-3" src="{% static 'img/as.jpg' %}" alt="">
            <h5>A</h5>
            <p class="font-weight-light mb-0">AA</p>
          </div>
        </div>

        <div class="col-lg-3">
            <div class="testimonial-item mx-auto mb-5 mb-lg-0">
              <img class="img-fluid rounded-circle mb-3" src="{% static 'img/tabor.jpg' %}" alt="">
              <h5>B</h5>
              <p class="font-weight-light mb-0">BB</p>
            </div>
        </div>

        <div class="col-lg-3">
          <div class="testimonial-item mx-auto mb-5 mb-lg-0">
            <img class="img-fluid rounded-circle mb-3" src="{% static 'img/yosemite.jpg' %}" alt="">
            <h5>C</h5>
            <p class="font-weight-light mb-0">CC</p>
          </div>
        </div>

        <div class="col-lg-3">
          <div class="testimonial-item mx-auto mb-5 mb-lg-0">
            <img class="img-fluid rounded-circle mb-3" src="{% static 'img/pruden.jpg' %}" alt="">
            <h5>D</h5>
            <p class="font-weight-light mb-0">DD</p>
          </div>
        </div>
        
        <div class="col-lg-3">
          <div class="testimonial-item mx-auto mb-5 mb-lg-0">
            <img class="img-fluid rounded-circle mb-3" src="{% static 'img/nido.jpg' %}" alt="">
            <h5>E</h5>
            <p class="font-weight-light mb-0">EE</p>
          </div>
        </div>
        
        <div class="col-lg-3">
          <div class="testimonial-item mx-auto mb-5 mb-lg-0">
            <img class="img-fluid rounded-circle mb-3" src="{% static 'img/aspen.jpg' %}" alt="">
            <h5>F</h5>
            <p class="font-weight-light mb-0">FF</p>
          </div>
        </div>
         
        <div class="col-lg-3">
          <div class="testimonial-item mx-auto mb-5 mb-lg-0">
            <img class="img-fluid rounded-circle mb-3" src="{% static 'img/kiser.jpg' %}" alt="">
            <h5>G</h5>
            <p class="font-weight-light mb-0">GG</p>
          </div>
        </div>
        
        <div class="col-lg-3">
          <div class="testimonial-item mx-auto mb-5 mb-lg-0">
            <img class="img-fluid rounded-circle mb-3" src="{% static 'img/kity.jpg' %}" alt="">
            <h5>H</h5>
            <p class="font-weight-light mb-0">HH</p>
          </div>
        </div>
      
      </div>
    </div>
  </section>

  <section class="call-to-action text-white text-center">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <h2 class="mb-4">Take a look at our Proposal to learn more about us!</h2>
        </div>
        <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
          <a href="https://drive.google.com/open?id=1Gl3Sdzaz_Z7Efv4X2v1hsP3uvUcVZBcZ"><button type="dark" class="btn btn-block btn-primary">Proposal</button></a>
        </div>
      </div>
    </div>
  </section>

  <footer class="footer bg-dark text-white">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
          <p>Contact Us</p>
          <ul class="list-inline mb-2">

            <li class="list-inline-item">
              <p>secureriskid@gmail.com</p>
            </li>

            <li class="list-inline-item">&sdot;</li>
            <li class="list-inline-item">
              <p>(+62)-8211-2555-123</p>
            </li>

          <p class="text-muted small mb-4 mb-lg-0">&copy; Your Website 2019. All Rights Reserved.</p>
        </div>
        <div class="col-lg-6 h-100 text-center text-lg-right my-auto">
          <ul class="list-inline mb-0">
            <li class="list-inline-item mr-3">
              <a href="#">
                <i class="fab fa-facebook fa-2x fa-fw"></i>
              </a>
            </li>
            <li class="list-inline-item mr-3">
              <a href="#">
                <i class="fab fa-twitter-square fa-2x fa-fw"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="https://www.instagram.com/securerisk_id/">
                <i class="fab fa-instagram fa-2x fa-fw"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
 {% endblock %}